.container {
    width: 100%;
    height: 500px;
    border: 5px solid #000;
    display: flex;
}
.alignmentBox1,
.alignmentBox2 {
    height: 100%;
    width: 50%;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
}
.source-box,
.target-box,
.source-box1,
.target-box1 {
    width: 100%;
    height: 50%;
    border: 1px solid #000;
    overflow: auto;
}
.source-box1,
.target-box1{
    border: none;
}
.token {
    display: inline-block;
    text-align: center;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin: 0.5rem;
    padding: 0.25rem;
    border: 2px solid transparent;
    cursor: pointer;
    z-index: 500;
    font-weight: 500;
}
.token:hover{
    box-shadow: 0 0 1pt 3pt darkblue;
}
.active-token{
    background-color: #000;
    color: #fff;
}