.container{
    width: 100%;
    height: 500px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
}
.alignment-container {
    height: 90%;
    border: 1px solid #000;
    display: flex;
}
.control-panel{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 20%;
    width: 100%;
    margin: 0px auto;
}
.control-panel img{
    width: 30px;
    cursor: pointer;
}
.alignmentBox1,
.alignmentBox2 {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.source-box,
.target-box,
.source-box1,
.target-box1 {
    width: 100%;
    height: 50%;
    border: 1px solid #000;
    overflow: auto;
}
.target-box{
    display: flex ;
    flex-direction: column;
    overflow: hidden;
}
.target-box .target-suggestions{
    overflow: auto;
}
.target-box .target-textbox{
    height: 30%;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.source-box1,
.target-box1{
    border: none;
}
.token {
    display: inline-block;
    text-align: center;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin: 0.5rem;
    padding: 0.25rem;
    border: 2px solid transparent;
    cursor: pointer;
    z-index: 500;
    font-weight: 500;
}
.token:hover{
    box-shadow: 0 0 1pt 3pt darkblue;
}
.active-token{
    background-color: #000;
    color: #fff;
}
.set-token{
    background-color: #c8c8c8;
}
.not-allowed-token{
    cursor: not-allowed;
}
.not-allowed-token:hover{
    box-shadow: none !important;
}
.final-submission-button{
    
}
.control-panel-btn{

}